<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<system.serviceModel>
		<bindings>
      
        <basicHttpBinding>
				
          <binding name="BasicHttpBinding_IProxyService" maxBufferSize="209715299" maxReceivedMessageSize="209715299">
            <security mode="TransportCredentialOnly">
              <transport clientCredentialType="Windows" />
            </security>
          </binding>
			</basicHttpBinding>
		</bindings>
		
		<client>
      <endpoint address="http://vcfdevmiisfrt01.vincic-fr.grpsc.net:8054/ReferenceData.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountancyReferenceDataManager" contract="Vcf.Services.AccountancyManager.Contracts.IAccountancyReferenceDataManager" behaviorConfiguration="largeObjectGraph" />
      <!--<endpoint address="net.tcp://vcfdevmiisfrt01.vincic-fr.grpsc.net:5354/ReferenceData.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccountancyManagerService" contract="Vcf.Services.AccountancyManager.Contracts.IAccountancyReferenceDataManager" behaviorConfiguration="largeObjectGraph" />-->
      <endpoint address="http://vcfdevmiisfrt01.vincic-fr.grpsc.net:8054/ProxyService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProxyService" contract="Vcf.Services.AccountancyManager.Contracts.IProxyService" behaviorConfiguration="largeObjectGraph" />
      <!--<endpoint address="net.tcp://vcfdevmiisfrt01.vincic-fr.grpsc.net:5354/ReferenceData.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IProxyService" contract="Vcf.Services.AccountancyManager.Contracts.IProxyService" behaviorConfiguration="largeObjectGraph" />-->
    </client>
	</system.serviceModel></configuration>